*{
    margin: 0;
    padding: 0;
}

.main{
    padding: 30px;
    max-width: 420px;
    height: 640px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}

.calculadora{
    margin: auto;
}

.display{
    width: 380px;
    height: 120px;
    text-align: right;
    font-size: 2.3em;
    border-radius: 5px;
    border: 0.5px solid #dfdfdf;
}

.btn{
    width: 100%;
    height: 60px;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: aquamarine;
}

h1{
    margin-bottom: 50px;
}

