@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: 'Open sans', sans-serif;
    background-color: aqua;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    max-width: 640px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    font-size: 1em;
    line-height: 1.5em;
    /* align-items: center; */
}

.res{
    display: flex;
    flex-direction: column;
    
}

form label,
form input,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    margin-top: 15px;
    font-size: 24px;
}

form input {
    font-size: 24px;
    height: 30px;
    padding: 0 10px;
    margin-right: 20px;
}

form button:hover {
    background-color: aqua;
    cursor: pointer;
    border: solid 1px;
}

form button:active {
    background-color: aquamarine;
}

table{
    width: 100%;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fundo cinza claro */
  }
  
  /* Estilo para as linhas ímpares da tabela (opcional) */
  table tr:nth-child(odd) {
    background-color: #fff; /* Fundo branco */
  }